# Terraform state and cache
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
terraform.tfvars.json
*.backup

# Sensitive or runtime files
*.pem
*.log
*.zip

# Editor settings
.vscode/

ssm-policy.json
